{{template "header" .Kibitagsets.Seitenueberschrift}}

<link rel="stylesheet" href="assets/css/index.css">
{{if .Error}}
<script>
    $(document).ready(function () {
        // Handler for .ready() called.
        ScrollTo('#anmeldung')
    });
</script>
{{end}}
</head>

<body class="mb-3">

<header>
    <div class="inner">
        <div class="lead mb-4">
            <p class="h1 pb-3" id="topic">{{.Kibitagsets.Seitenueberschrift}}</p>
        </div>
        <div>
            <a role="button" class="btn btn-lg btn-outline-secondary mb-2" target="_blank" href="https://www.vorgebirge-evangelisch.de/index.php?id=kinderbibeltag">Mehr Erfahren</a>
            <a role="button" class="btn btn-lg btn-outline-dark mb-2" href="#anmeldung" onclick="ScrollTo('#anmeldung')">Anmelden</a>
        </div>
    </div>
</header>



<div class="container pt-4" id="anmeldung">
    {{if .Error}}<h4 class="error">Anmeldung fehlgeschlagen</h4>{{end}}

    <form action="/" method="post" accept-charset="utf-8">
        <section id="info">
            <div class="card border-info mb-3">
                <div class="card-body text-info">
                    <h4 class="card-title">Information</h4>
                    <p class="card-text">
                        Bitte füllen Sie das Formular für jedes Kind einzeln vollständig aus.
                        Auf der folgenden Bestätigungsseite erhalten Sie weitere Infos zum Überweisen des Teilnahmebeitrags.
                    </p>
                </div>
            </div>
        </section>

        <section id="kind">
            <div class="form-group">
                <h3>Wer soll teilnehmen?</h3>
                <div class="form-row form-group">
                    <div class="col-md-5"> <input class="form-control" type="text" id="nachname" name="nachname" value="{{.SubKind.Nachname}}" placeholder="Nachname" required/></div>
                    <div class="col-md-5"> <input class="form-control" type="text" id="vorname" name="vorname" value="{{.SubKind.Vorname}}" placeholder="Vorname" required/></div>
                    <div class="col-md-2"> <input class="form-control" type="number" min="1" max="10" step="1" id="alter" name="alter" value="{{.SubKind.Alter}}" placeholder="Alter" required/></div>
                </div>

                <div class="form-row form-group">
                    <div class="col-md-6"> <input class="form-control" type="text" id="strasse_nr" name="strasse_nr" value="{{.SubKind.StrasseNr}}" placeholder="Straße, Hausnummer" required/></div>
                    <div class="col-md-6"> <input class="form-control" type="text" id="plz_ort" name="plz_ort" value="53347 Alfter" placeholder="PLZ, Ort" required/></div>
                </div>

                <div class="form-row form-group">
                    <div class="col-md-6"> <input class="form-control" type="text" id="schule" name="schule" value="Anna-Schule Alfter" placeholder="Schule" required/></div>
                    <div class="col-md-6"> <input class="form-control" type="text" id="klasse" name="klasse" value="{{.SubKind.Klasse}}" placeholder="Klasse" required/></div>
                </div>
            </div>
        </section>

        <section id="erziehungsberechtigter">
            <div class="form-group">
                <h3>Pers&ouml;nliche Daten des/der Erziehungsberechtigten:</h3>
                <div class="form-row form-group">
                    <div class="col-md-6"> <input class="form-control" type="text" id="nachname_erz" name="nachname_erz" value="{{.SubKind.NachnameErz}}" placeholder="Nachname" required/></div>
                    <div class="col-md-6"> <input class="form-control" type="text" id="vorname_erz" name="vorname_erz" value="{{.SubKind.VornameErz}}" placeholder="Vorname" required/></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-md-6"> <input class="form-control" type="email" id="email" name="email" value="{{.SubKind.Email}}" placeholder="E-Mail-Adresse" required/></div>
                </div>
            </div>
        </section>

        <section id="erreichbarkeit" class="form-group">
            <h3>Erreichbarkeit w&auml;hrend des Kinderbibeltags</h3>
            <div class="form-row">
                <div class="col">
                    <label for="telefon">
                        W&auml;hrend des Kinderbibeltags st&auml;ndig telefonisch erreichbare Telefonnummer für Notfälle:
                    </label>
                </div>
            </div>
            <div class="form-group form-row">
                <div class="col-md-6"> <input class="form-control" type="tel" id="telefon" name="telefon" value="{{.SubKind.Telefon}}" placeholder="Telefonnummer" required/></div>
            </div>
        </section>

        <section id="beitrag">
            <h3>Beitrag der Eltern</h3>
            <p>
                Das Kinderbibeltags-Team ist dieses Jahr leider sehr klein - wir ben&ouml;tigen deshalb vermehrt auch
                Hilfeleistungen von Eltern, z.B. f&uuml;r den Aufbau der Tische und St&uuml;hle, bei der Vorbereitung und
                Ausgabe der Mahlzeiten und beim Aufr&auml;umen danach. Vielen Dank schon im Voraus f&uuml;r Ihre Unterst&uuml;tzung!
            </p>

            <div class="form-group">
                <div class="form-row">
                    <div class="col">
                        <label for="essen">Mein/unser Beitrag als Eltern zum Kinderbibeltag ist:</label>
                    </div>
                </div>
                <div class="form-group form-row">
                    <div class="col">
                        <select class="form-control" id="essen" name="essen" required>
                            <option value="0">Bitte ausw&auml;hlen:</option>
                            {{$sets:=.Kibitagsets}}{{$essen:=.SubKind.Essen}}
                            {{range .Kibitagsets.Mitbringen}}
                                {{if $sets.Available .Nr}}
                                    <option value="{{.Nr}}" {{if $sets.CheckSelected .Nr $essen}}selected{{end}}>
                                        {{.Art}} (noch ben&ouml;tigt: {{.Anzahl}})
                                    </option>
                                {{end}}
                            {{end}}
                        </select>
                    </div>
                </div>

                {{if .Error}}
                <div class="form-row">
                    <div class="col">
                        <label for="essen" class="error"><h4>{{.ValidationErrors.Essen}}</h4></label>
                    </div>
                </div>
                {{end}}
            </div>
        </section>

        <section id="einverstaendnis">
            <div class="form-group">
                <h3>Zustimmung eines/einer Erziehungsberechtigten:</h3>
                <div class="form-row form-group justify-content-sm-end justify-content-center">
                    <div class="col-sm-1"> <input style="margin-top:.25rem" type="checkbox" id="einverstanden" name="einverstanden" required></div>
                    <div class="col-sm-10">
                        <label for="einverstanden">
                            Ja, ich bin einverstanden, dass mein Sohn/meine Tochter am &Ouml;kumen. Kinderbibeltag
                            Alfter am 19. November 2017 teilnimmt. Den Teilnahmebeitrag von 6,00 Euro &uuml;berweise ich unmittelbar
                            nach der Anmeldung.<br>
                            Ich habe zur Kenntnis genommen, dass die Teilnahme meines Kindes nur m&ouml;glich ist,
                            wenn der Teilnahmebeitrag &uuml;berwiesen wurde und der unten angegebene Beitrag der Eltern erbracht wird.
                        </label>
                    </div>
                </div>
            </div>
        </section>

        <section id="kontrolle">
            <div class="form-group">
                <h3>Kontrollfrage</h3>
                <div class="form-row">
                    <div class="col">
                        <label for="dumme_frage">
                            Sie sind schlauer als SPAM-Automaten, die gerne Formulare mit Werbem&uuml;ll verstopfen.<br>
                            Bitte geben Sie in das folgende Feld noch einmal den Vornamen des/der Erziehungsberechtigten ein,
                            in genau der gleichen Weise wie oben.
                        </label>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-6">
                        <input class="form-control" type="text" id="dumme_frage" name="dumme_frage" value="{{.SubKind.DummeFrage}}" placeholder="Vorname des Erziehungsberechtigte" required/>
                    </div>
                </div>
            </div>
            {{if .Error}}
            <div class="from-group form-row">
                <div class="col">
                    <label for="dumme_frage" class="error"><h4>{{.ValidationErrors.DummeFrage}}</h4></label>
                </div>
            </div>
            {{end}}
        </section>

        <button type="submit" class="btn btn-lg btn-primary btn-block" id="absenden">Anmeldung Absenden</button>
    </form>

</div>

{{template "footer"}}