body {
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(88, 255, 255, 0.50);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

header > .inner {
    padding: 4em 2em 4em 2em;
}

#topic {
    border-bottom: 2px solid magenta;
}

.error {
    color: darkorange;
}

button:hover {
    cursor: pointer;
}